<?xml version='1.0' encoding='UTF-8' ?> 

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "ie.fortuna.">

<name>HobUp</name>
<description>Hobup is a meeting hub for hobbyists where they can tutor and discover new hobbies in the virtual world or in real life</description>
<author email="cjjb95@gmail.com" href="HobUp">Team Fortuna</author>

<icon platform="android" qualifier="hdpi" src="res/icons/android/hdpi.png"/>
<icon platform="android" qualifier="ldpi" src="res/icons/android/ldpi.png"/>
<icon platform="android" qualifier="mdpi" src="res/icons/android/mdpi.png"/>
<icon platform="android" qualifier="xhdpi" src="res/icons/android/xhdpi.png"/>
<icon platform="android" qualifier="xxhdpi" src="res/icons/android/xxhdpi.png"/>
<icon platform="android" qualifier="xxxhdpi" src="res/icons/android/xxxhdpi.png"/>

<icon platform="android" qualifier="ldpi" src="res/icons/android/splash-port-ldpi.png"/>
<icon platform="android" qualifier="mdpi" src="res/icons/android/splash-port-48-mdpi.png"/>
<icon platform="android" qualifier="hdpi" src="res/icons/android/splash-port-hdpi.png"/>
<icon platform="android" qualifier="xhdpi" src="res/icons/android/splash-port-xhdpi.png"/>
<icon platform="android" qualifier="xxhdpi" src="res/icons/android/splash-port-xxhdpi.png"/>
<icon platform="android" qualifier="xxxhdpi" src="res/icons/android/splash-port-xxxhdpi.png"/>

<!--<preference name = "orientation" value = "portrait" />-->
</widget>